In [3]:
symbols = pd.read_csv("./data/symbols_valid_meta.csv")
symbols_df = pd.DataFrame(symbols)

NameError: name 'pd' is not defined

In [ ]:
intc = pd.DataFrame(AAPL)

In [ ]:
intc

In [ ]:
symbols_df

In [ ]:
intc_row = symbols_df[symbols_df['Symbol'] == 'INTC'] #get Intel row

In [ ]:
intc_row

In [ ]:
intc_close = intc["Close"]

In [ ]:
intc_close_np = intc_close.to_numpy()

In [ ]:
plt.plot(intc_close_np[-200:])

In [ ]:
X = get_view(intc_close_np, 10)
print(X)
y = intc_close_np[10:]
print(y)
assert(len(X) == len(y))

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
rf_model = RandomForestRegressor(n_estimators=100, random_state=42)
rf_model.fit(X_train, y_train)

In [ ]:
y_pred = rf_model.predict(X_test)

In [ ]:
def calculate_mape(y_true, y_pred):
    y_true = np.array(y_true)
    y_pred = np.array(y_pred)
    absolute_percentage_error = np.abs((y_true - y_pred) / y_true)
    mape = np.mean(absolute_percentage_error) * 100
    return mape

In [ ]:
mape = calculate_mape(y_test, y_pred)
print(f"Mean Absolute Percentage Error (MAPE): {mape:.2f}%")

In [1]:
from process import *

In [4]:
get_df('AAPL')

,Date,Open,High,Low,Close,Adj Close,Volume,EMA_9,SMA_5,SMA_10,SMA_15,SMA_30,RSI_10,RSI_15,RSI_30,MACD,MACD_signal
0,1981-02-25,0.450893,0.453125,0.450893,0.457589,0.357260,4872000,0.480380,0.448214,0.458705,0.473512,0.514286,39.189196,40.000006,39.062507,-0.027002,-0.024156
1,1981-02-26,0.457589,0.459821,0.457589,0.473214,0.362566,2710400,0.477418,0.441071,0.455134,0.470685,0.511161,45.714293,36.666668,39.690730,-0.025301,-0.024386
2,1981-02-27,0.473214,0.477679,0.473214,0.475446,0.374946,3690400,0.475427,0.441071,0.453795,0.467113,0.508185,52.000001,41.237114,40.306128,-0.022452,-0.023998
3,1981-03-02,0.475446,0.477679,0.475446,0.468750,0.376715,2940000,0.475204,0.449107,0.454464,0.464583,0.505357,56.338031,41.237114,41.025649,-0.019788,-0.023155
4,1981-03-03,0.470982,0.470982,0.468750,0.464286,0.371409,4043200,0.475229,0.456250,0.456473,0.462054,0.502753,50.724635,45.454548,35.519129,-0.018003,-0.022123
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9853,2020-03-25,250.750000,258.250000,244.300003,258.440002,245.520004,75900500,263.010805,238.388000,248.864000,261.656001,283.711998,40.395611,37.075354,39.406335,-17.074468,-15.210790
9854,2020-03-26,246.520004,258.679993,246.360001,247.740005,258.440002,63021800,261.261725,238.158002,245.873001,257.841335,281.242332,53.609562,42.319341,40.316038,-15.261930,-15.221018
9855,2020-03-27,252.750000,255.869995,247.050003,254.809998,247.740005,51054200,260.979553,240.890002,246.894002,255.542668,278.950332,37.650136,41.073205,39.387436,-14.521485,-15.081111
9856,2020-03-30,250.740005,255.520004,249.399994,254.289993,254.809998,41994100,259.655598,244.590002,243.871002,252.790001,276.379332,56.723581,47.364021,40.531344,-13.211890,-14.707267
9857,2020-03-31,255.600006,262.489990,252.000000,240.910004,254.289993,49250500,259.171038,250.678003,245.131001,252.032667,274.041331,50.855566,42.112482,41.134400,-12.076773,-14.181168