In [21]:
import pandas as pd
import numpy as np

In [4]:
symbols = pd.read_csv("./data/symbols_valid_meta.csv")
symbols_df = pd.DataFrame(symbols)

In [7]:
intc = pd.read_csv("./data/stocks/INTC.csv")

In [8]:
intc = pd.DataFrame(intc)

In [9]:
intc

,Date,Open,High,Low,Close,Adj Close,Volume
0,1980-03-17,0.325521,0.330729,0.325521,0.325521,0.204750,10924800
1,1980-03-18,0.325521,0.328125,0.322917,0.322917,0.203112,17068800
2,1980-03-19,0.330729,0.335938,0.330729,0.330729,0.208026,18508800
3,1980-03-20,0.330729,0.334635,0.329427,0.329427,0.207207,11174400
4,1980-03-21,0.322917,0.322917,0.317708,0.317708,0.199836,12172800
...,...,...,...,...,...,...,...
10093,2020-03-26,51.740002,55.950001,51.660000,55.540001,55.540001,41459800
10094,2020-03-27,53.419998,54.639999,52.070000,52.369999,52.369999,31633500
10095,2020-03-30,52.990002,56.099998,52.830002,55.490002,55.490002,31628600
10096,2020-03-31,55.060001,55.799999,53.220001,54.119999,54.119999,48074700
10097,2020-04-01,52.500000,54.689999,51.430000,51.880001,51.880001,29582100

In [5]:
symbols_df

,Nasdaq Traded,Symbol,Security Name,Listing Exchange,Market Category,ETF,Round Lot Size,Test Issue,Financial Status,CQS Symbol,NASDAQ Symbol,NextShares
0,Y,A,"Agilent Technologies, Inc. Common Stock",N,,N,100.0,N,NaN,A,A,N
1,Y,AA,Alcoa Corporation Common Stock,N,,N,100.0,N,NaN,AA,AA,N
2,Y,AAAU,Perth Mint Physical Gold ETF,P,,Y,100.0,N,NaN,AAAU,AAAU,N
3,Y,AACG,ATA Creativity Global - American Depositary Sh...,Q,G,N,100.0,N,N,NaN,AACG,N
4,Y,AADR,AdvisorShares Dorsey Wright ADR ETF,P,,Y,100.0,N,NaN,AADR,AADR,N
...,...,...,...,...,...,...,...,...,...,...,...,...
8044,Y,ZUO,"Zuora, Inc. Class A Common Stock",N,,N,100.0,N,NaN,ZUO,ZUO,N
8045,Y,ZVO,Zovio Inc. - Common Stock,Q,Q,N,100.0,N,N,NaN,ZVO,N
8046,Y,ZYME,Zymeworks Inc. Common Shares,N,,N,100.0,N,NaN,ZYME,ZYME,N
8047,Y,ZYNE,"Zynerba Pharmaceuticals, Inc. - Common Stock",Q,G,N,100.0,N,N,NaN,ZYNE,N
8048,Y,ZYXI,"Zynex, Inc. - Common Stock",Q,S,N,100.0,N,N,NaN,ZYXI,N

In [6]:
intc_row = symbols_df[symbols_df['Symbol'] == 'INTC'] #get Intel row

In [13]:
intc_row

,Nasdaq Traded,Symbol,Security Name,Listing Exchange,Market Category,ETF,Round Lot Size,Test Issue,Financial Status,CQS Symbol,NASDAQ Symbol,NextShares
3772,Y,INTC,Intel Corporation - Common Stock,Q,Q,N,100.0,N,N,NaN,INTC,N

In [11]:
intc_close = intc["Close"]

In [ ]:
intc_close_np = intc_close.to_numpy()
print(intc_close_np.shape)
print(intc_close_np.strides)

(10098,)
8

In [24]:
print(intc_close_np)

[ 0.32552084  0.32291666  0.33072916 ... 55.49000168 54.11999893
 51.88000107]

In [ ]:
shape_5days = (len(intc_close_np) - 5, 5)
strides_5days = (intc_close_np.strides[0], intc_close_np.strides[0])
intc_close_5days = np.lib.stride_tricks.as_strided(intc_close_np, shape_5days, strides_5days)

In [23]:
intc_close_5days

array([[ 0.32552084,  0.32552084,  0.32552084,  0.32552084,  0.32552084],
       [ 0.32291666,  0.32291666,  0.32291666,  0.32291666,  0.32291666],
       [ 0.33072916,  0.33072916,  0.33072916,  0.33072916,  0.33072916],
       ...,
       [49.58000183, 49.58000183, 49.58000183, 49.58000183, 49.58000183],
       [52.40000153, 52.40000153, 52.40000153, 52.40000153, 52.40000153],
       [51.25999832, 51.25999832, 51.25999832, 51.25999832, 51.25999832]])